Xft.lcdfilter: lcddefault
Xft.dpi: 140

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #202020, #202020, #202020
rofi.color-normal: argb:0202020, #fafafa, #202020, #303030, #ffffff
rofi.color-active: #303030, #ffffff, #303030, #303030, #ffffff
rofi.color-urgent: #202020, #ffffff, #202020, #202020, #ffffff

rofi.kb-row-select: Tab
rofi.kb-row-tab: 
rofi.kb-row-down: Down
rofi.line-margin: 0
rofi.font: inconsolata 14
rofi.bw: 0
rofi.padding: 1
rofi.separator-style: none
rofi.display-run: Run
rofi.display-drun: Launch
rofi.terminal: st
